@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(40, 38, 61);
  background: linear-gradient(to right, rgba(40, 38, 61, 1) 0%, rgba(52, 48, 82, 1) 18%, rgba(82, 76, 129, 1) 100%);
  min-height: 100vh;
  color: white;
}

.shadow-custom {
  box-shadow: 10px 20px 50px 10px rgba(0, 0, 0, 0.54);
}